h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.feedback-form {
    padding: 24px;
    display: flex;
    flex-direction: column;
    width: 408px;
    margin: 0 auto;
}

.feedback-form label {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    text-align: left;}

.feedback-form input {
    width: 360px;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 8px 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin: 8px 0;
    outline: none;
}

.feedback-form textarea {
    width: 360px;
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 8px 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-top: 8px;
    outline: none;
}

.feedback-form button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #4e75ff;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin-top: 16px;
}

.feedback-form button:hover,
.feedback-form button:focus {
    background: #6c8cff;
}

.feedback-form input:hover,
.feedback-form input:focus,
.feedback-form textarea:hover,
.feedback-form textarea:focus {
    border-color: #000;
}

.feedback-form input:active,
.feedback-form textarea:active {
    border-color: #808080;
}