* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-image {
    width: 360px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
    transform: scale(1.04);
}